<div class="bg-zinc-900 w-1/4 h-4/6 px-6 py-6 rounded-xl shadow-lg flex flex-col items-center bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-70 ">

  
  <form action="" id="loginForm" class="flex flex-col gap-4 w-full h-full">
    <h2 class="text-5xl text-gray-400 mb-12">Entre na sua conta</h2>

    <div class="flex flex-col gap-1 text-gray-400 text-lg">
      <label for="email" class="pl-2">Nome de usuário ou e-mail</label>
      <input type="text" name="userEmail" id="userEmail" class="bg-transparent shadow-xl border border-zinc-900 text-gray-400 text-sm rounded-lg px-4 py-2 outline-none">
    </div>

    <div class="flex flex-col gap-1 text-gray-400 text-lg">

      <label for="password" class="pl-2">Senha</label>
      <input type="password" name="password" id="password" class="bg-transparent shadow-xl border border-zinc-900 text-gray-400 text-sm rounded-lg px-4 py-2  outline-none">

      <a href="/recovery">
        <div class="flex flex-col gap-1 text-gray-400 text-sm hover:text-white">
          <p for="password" class="pl-2">Esqueceu sua senha?</p>
        </div>
      </a>

    </div>

    <div class="flex flex-col gap-2 text-gray-400 text-xl ">
      <button type="submit" class="bg-zinc-900 text-gray-300 rounded-lg px-4 py-2  outline-none">Entrar</button>
    </div>

  </form>
</div>

<div class="bg-zinc-900 w-1/4 h-4/6 px-6 py-6 mr-16 rounded-xl shadow-lg flex flex-col items-center bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-70 ">

  
  <form action="" id="loginForm" class="flex flex-col gap-4 w-full h-full">
    <h2 class="text-5xl text-gray-400 mb-12">Registre-se agora</h2>

    <div class="flex flex-col gap-1 text-gray-400 text-lg">
      <label for="email" class="pl-2">Nome de usuário</label>
      <input type="text" name="userEmail" id="userEmail" class="bg-transparent shadow-xl border border-zinc-900 text-gray-400 text-sm rounded-lg px-4 py-2  outline-none">
    </div>

    <div class="flex flex-col gap-1 text-gray-400 text-lg">
      <label for="email" class="pl-2">E-mail</label>
      <input type="email" name="email" id="email" class="bg-transparent shadow-xl border border-zinc-900 text-gray-400 text-sm rounded-lg px-4 py-2  outline-none">
    </div>

    <div class="flex flex-col gap-1 text-gray-400 text-lg">
      <label for="password" class="pl-2">Senha</label>
      <input type="password" name="password" id="password" class="bg-transparent shadow-xl border border-zinc-900 text-gray-400 text-sm rounded-lg px-4 py-2  outline-none">
    </div>

    <div class="flex flex-col gap-1 text-gray-400 text-lg">
      <label for="password" class="pl-2">Confirme a senha</label>
      <input type="password" name="confirmPassword" id="confirmPassword" class="bg-transparent shadow-xl border border-zinc-900 text-gray-400 text-sm rounded-lg px-4 py-2  outline-none">
    </div>

    <div class="flex flex-col gap-2 text-gray-400 text-xl ">
      <button type="submit" class="bg-zinc-900 text-gray-300 rounded-lg px-4 py-2  outline-none">Registrar</button>
    </div>

  </form>

</div>